@font-face {
   font-family: 'Young Coconut Display';
   src: url('Young Coconut Display/font.ttf');
}
@font-face {
   font-family: 'Swis721 Cn BT Roman';
   src: url('Swis721 Cn BT Roman/font.ttf');
}
